DomainWebServices/Service References/OrderMgmtReference/OrderMgmt3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UtilityWebServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UtilityWebServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfmeds">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="meds" nillable="true" type="tns:meds" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmeds" nillable="true" type="tns:ArrayOfmeds" />
  <xs:complexType name="meds">
    <xs:sequence>
      <xs:element minOccurs="0" name="amount" type="xs:int" />
      <xs:element minOccurs="0" name="med_id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="meds" nillable="true" type="tns:meds" />
  <xs:complexType name="ArrayOfOrder">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Order" nillable="true" type="tns:Order" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOrder" nillable="true" type="tns:ArrayOfOrder" />
  <xs:complexType name="Order">
    <xs:sequence>
      <xs:element minOccurs="0" name="complete_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="create_date" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="order_id" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="surname" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Order" nillable="true" type="tns:Order" />
</xs:schema>