DomainWebServices/Service References/UserMgmtReference/UserMgmt.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserMgmt" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49329/UserMgmt.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49329/UserMgmt.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49329/UserMgmt.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/UtilityWebServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserMgmt_UserExists_InputMessage">
    <wsdl:part name="parameters" element="tns:UserExists" />
  </wsdl:message>
  <wsdl:message name="IUserMgmt_UserExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:UserExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IUserMgmt_GetExistingUserId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExistingUserId" />
  </wsdl:message>
  <wsdl:message name="IUserMgmt_GetExistingUserId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExistingUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="IUserMgmt_InsertUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertUser" />
  </wsdl:message>
  <wsdl:message name="IUserMgmt_InsertUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserMgmt_UpdateUser_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUser" />
  </wsdl:message>
  <wsdl:message name="IUserMgmt_UpdateUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateUserResponse" />
  </wsdl:message>
  <wsdl:message name="IUserMgmt_GetUserInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfo" />
  </wsdl:message>
  <wsdl:message name="IUserMgmt_GetUserInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IUserMgmt_GetUserList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserList" />
  </wsdl:message>
  <wsdl:message name="IUserMgmt_GetUserList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserListResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserMgmt">
    <wsdl:operation name="UserExists">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserMgmt/UserExists" message="tns:IUserMgmt_UserExists_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserMgmt/UserExistsResponse" message="tns:IUserMgmt_UserExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExistingUserId">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserMgmt/GetExistingUserId" message="tns:IUserMgmt_GetExistingUserId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserMgmt/GetExistingUserIdResponse" message="tns:IUserMgmt_GetExistingUserId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserMgmt/InsertUser" message="tns:IUserMgmt_InsertUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserMgmt/InsertUserResponse" message="tns:IUserMgmt_InsertUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserMgmt/UpdateUser" message="tns:IUserMgmt_UpdateUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserMgmt/UpdateUserResponse" message="tns:IUserMgmt_UpdateUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserMgmt/GetUserInfo" message="tns:IUserMgmt_GetUserInfo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserMgmt/GetUserInfoResponse" message="tns:IUserMgmt_GetUserInfo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserMgmt/GetUserList" message="tns:IUserMgmt_GetUserList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserMgmt/GetUserListResponse" message="tns:IUserMgmt_GetUserList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserMgmt" type="tns:IUserMgmt">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UserExists">
      <soap:operation soapAction="http://tempuri.org/IUserMgmt/UserExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetExistingUserId">
      <soap:operation soapAction="http://tempuri.org/IUserMgmt/GetExistingUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUser">
      <soap:operation soapAction="http://tempuri.org/IUserMgmt/InsertUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUser">
      <soap:operation soapAction="http://tempuri.org/IUserMgmt/UpdateUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserInfo">
      <soap:operation soapAction="http://tempuri.org/IUserMgmt/GetUserInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserList">
      <soap:operation soapAction="http://tempuri.org/IUserMgmt/GetUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserMgmt">
    <wsdl:port name="BasicHttpBinding_IUserMgmt" binding="tns:BasicHttpBinding_IUserMgmt">
      <soap:address location="http://localhost:49329/UserMgmt.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>